@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
body {
    margin: 0;
    background-color: rgb(255, 251, 247);
    font-size: 14px;
    line-height: inherit;
}
html, body {
    height: 100%;
}
h2{
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.nav {
    margin: 0;
    background-color: linen;
    box-shadow: 0 -3px 0 0 tan inset;
    height: 10%;
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
#nav_login_area {
    /* visibility: hidden; */
    display: flex;
    /* background-color: tan; */
    border-radius: 5px;
    border: 1px solid tan;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    flex-direction: column;
}
#nav_login, #nav_new_user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 20px;
}
#nav_login {
    border-bottom: 1px solid tan;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#nav_new_user {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#nav_login:hover, #nav_new_user:hover{
    background-color: rgb(224, 210, 195)
}
#nav_bar{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo {
    font-size: large;
    display: inline-block;
    /* margin-left: 5%; */
    margin-right: 20%;
    cursor: pointer;
}

#nav_right{
    float: right;
    margin-left: 20%;
    /* margin-right: 5%; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#nav_personal, #nav_alarm {
    float: left;
    display: flex;
    margin: 0 11px;
    /* height: 40px; */
    width: 35px;
    justify-content: center;
    align-items: center;
}
#nav_neww {
    float: left;
    display: flex;
    margin: 0 3px;
    /* height: 40px; */
    width: 35px;
    justify-content: center;
    align-items: center;
}

#personal_icon, #new_icon{
    width: 50px;
    height: 50px;
}
#new_icon{
    width: 40px;
    height: 40px;
}
#nav_alarm_icon{
    margin-right: 10px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
}
