
.main {
    position: relative;
    top: 10%;
    width: 100%;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ifrm {
    /* margin-top: 8px; */
}
#pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination>li>a, .pagination>li>span {
    color: rgb(187, 162, 132);
    border: 1px solid rgb(220, 204, 183);
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus {
    color: rgb(187, 162, 132);
    border: 1px solid tan;
}
.currentPage {
    background-color: #eee;
}
#currentPageNumber{
    visibility: hidden;
    display: none;
}
.page-item {
    cursor: pointer;
}
#ex2 {
    background-color: yellow;
    position: relative;

}
#offers_area {
    display: flex;
    justify-content : center;
    /* width: 90%; */
}
#offers{
    /* width: 80%; */
}
#offering_table{
    padding: 0;
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
}
.offer {
    display: inline-block;
    list-style:none;
    width: 250px;
    height: 200px;
    margin: 20px 20px;
    background-color: tan;
    text-align: center;
    font-size: 50px;
}