<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../main/main.js"></script>
    <script type="text/javascript" src="../main/pagination.js"></script>
    <script type="text/javascript" src="../main/filter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../main/banner.css">
    <link rel="stylesheet" href="../main/main.css">
    <link rel="stylesheet" href="../main/filter.css">
    <title>TOYPLE</title>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="nav">
        <div id="nav_bar">        
            <div id="nav_logo" onclick="location.href='../main/main.html'">
                <h2 id="nav_lg">TOYPLE</h2>
            </div>
            <div id ="nav_right">
                <div id="nav_login_area" style="cursor:pointer">
                    <div id="nav_login" onclick="location.href='../login/index.html'">로그인</div>
                    <div id="nav_new_user" onclick="location.href='../membership/index.html'">회원가입</div>
                </div>
                <!-- <div id="nav_neww" style="cursor:pointer" onclick="location.href='../new/new.html'">
                    <img src="../img/plus.png" id="new_icon" alt="new">
                </div>
                <div id="nav_alarm" style="cursor:pointer" onclick="location.href=''" >
                    <img src="../img/envelope.png" id="nav_alarm_icon" alt="envelope">
                </div>
                
                <div id="nav_personal" style="cursor:pointer" onclick="location.href='../login/index.html'">
                    <img src="../img/login.png" id="personal_icon" alt="member">
                </div> -->
            </div>
        </div>
    </div>
    <div class="main">
        <div id="contents">
            <div id="filter_area">
                <form>
                <div id="place">
                    <div id="place_filter_top">지역 선택</div>
                    <div id="filter_place_reset_area">
                        <div id="filter_place_reset" onclick="reset_place_filter()">필터초기화</div>
                    </div>
                </div>
                
                <div id="place_filter_area">
                    <div id="place_filter">
                        <label class="places p1" ><input onclick="placeFltr(this)" type="checkbox" class="p1" value="서울" name="slt_place" id="seoul">서울</label>
                        <label class="places p2" ><input onclick="placeFltr(this)" type="checkbox" class="p2" value="경기/인천" name="slt_place" id="gyeonggi/Inchon">경기/인천</label>
                        <label class="places p3" ><input onclick="placeFltr(this)" type="checkbox" class="p3" value="강원" name="slt_place" id="gangwon">강원</label>
                        <label class="places p4" ><input onclick="placeFltr(this)" type="checkbox" class="p4" value="충천/대전" name="slt_place" id="chungcheong/Daejeon">충천/대전</label>
                        <label class="places p5" ><input onclick="placeFltr(this)" type="checkbox" class="p5" value="전라/광주" name="slt_place" id="jeolla/Gwangju">전라/광주</label>
                        <label class="places p6" ><input onclick="placeFltr(this)" type="checkbox" class="p6" value="경북/대구" name="slt_place" id="gyeongbuk/Daegu">경북/대구</label>
                        <label class="places p7" ><input onclick="placeFltr(this)" type="checkbox" class="p7" value="경남/부산/울산" name="slt_place" id="gyeongnam/Busan/Ulsan">경남/부산/울산</label>
                        <label class="places p8" ><input onclick="placeFltr(this)" type="checkbox" class="p8" value="제주" name="slt_place" id="jeju">제주</label>
                        
                    </div>
                </div>
                <div id="work_filter">
                    <div id="lang_fornt_end" style="border-bottom: 3px solid tan;" class="filter_work" onclick="workFltr(this)">프론트엔드</div>
                    <div id="lang_back_end" class="filter_work" onclick="workFltr(this)">백엔드</div>
                    <div id="lang_mobile" class="filter_work" onclick="workFltr(this)">모바일</div>
                    <div id="lang_etc" class="filter_work" onclick="workFltr(this)">기타</div>
                </div>
                <div id="lang_filter_area">
                    <div id="lang_filter">
                        <div class="langs front_lang f_lang1" onclick="add_lang(this)" ><div class="front_lang f_lang1" id="JavaScript" type="checkbox" name="slt_lang" value="JavaScript">JavaScript</div></div>
                        <div class="langs front_lang f_lang2" onclick="add_lang(this)" ><div class="front_lang f_lang2" id="TypeScript" type="checkbox" name="slt_lang" value="TypeScript">TypeScript</div></div>
                        <div class="langs front_lang f_lang3" onclick="add_lang(this)" ><div class="front_lang f_lang3" id="React" type="checkbox" name="slt_lang" value="React">React</div></div>
                        <div class="langs front_lang f_lang4" onclick="add_lang(this)" ><div class="front_lang f_lang4" id="Vue" type="checkbox" name="slt_lang" value="Vue">Vue</div></div>
                        <div class="langs front_lang f_lang5" onclick="add_lang(this)" ><div class="front_lang f_lang5" id="Svelte" type="checkbox" name="slt_lang" value="Svelte">Svelte</div></div>
                        <div class="langs front_lang f_lang6" onclick="add_lang(this)" ><div class="front_lang f_lang6" id="Nextjs" type="checkbox" name="slt_lang" value="Nextjs">Nextjs</div></div>
                    </div>
                </div>
                <div id="selected_lang_area">
                    <div id="selected_lang_list"></div>
                    <div id="filter_reset_area">
                        <div id="filter_reset" onclick="reset_filter()">필터초기화</div>
                    </div>
                </div>
                <div id="submit_area">
                    <input  id="submit" type="submit" value="submit">
                </div>
                </form>
                <div id="search">
                    <div class="search_box">
                        <input type="text" class="srch_field" id="srch_kywrd" onkeypress="if(event.keyCode == 13){search(); return false;}" placeholder="Search.." value=""  spellcheck="false">
                        <a href="#" class="srch_icon_a" onclick="search(); return false;"><img src="../img/search_icon_on.png" alt="찾기" class="srch_icon"></a>
                    </div>
                </div>
                <script>
                    function search() {
                        if($('#srch_kywrd').val() == "") {
                            alert("검색할 단어를 입력하세요")
                            $('#srch_kywrd').select()
                            return false
                        }
                        location.href = "" + encodeURIComponent( $('#srch_kywrd').val())
                    }
                </script>
            </div>
            <div id="currentPageNumber" >1</div> 
            <div class="ifrm">
                <iframe src="proj_list.html" id="ifrm" name="pages" height="750" width="1000" frameborder="1" style="border: 3px solid tan" scrolling ="no"></iframe>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                        <li class="page-item">
                            <a class="page-link" onclick="movePageGroup(this)" id="previous" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link currentPage" style="background-color: #eee" id="page_1" onclick="movePage(this)" href="./proj_list.html" target="pages">1</a></li>
                        <li class="page-item"><a class="page-link" id="page_2" onclick="movePage(this)" href="./proj_list.html" target="pages">2</a></li>
                        <li class="page-item"><a class="page-link" id="page_3" onclick="movePage(this)" href="./proj_list.html" target="pages">3</a></li>
                        <li class="page-item"><a class="page-link" id="page_4" onclick="movePage(this)" href="./proj_list.html" target="pages">4</a></li>
                        <li class="page-item"><a class="page-link" id="page_5" onclick="movePage(this)" href="./proj_list.html" target="pages">5</a></li>
                        <li class="page-item">
                            <a class="page-link" onclick="movePageGroup(this)" id="next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- <div id="offers_area">
                <div id="offers">
                    <table id="offering_table"> -->
                        <!-- <tr>
                            <td class="offer">A</td>
                            <td class="offer">B</td>
                            <td class="offer">C</td>
                            <td class="offer">D</td>
                        </tr>
                        <tr>
                            <td class="offer">a</td>
                            <td class="offer">b</td>
                            <td class="offer">c</td>
                            <td class="offer">d</td>
                        </tr>
                        <tr>
                            <td class="offer">1</td>
                        </tr> -->
                    <!-- </table>
                </div>
            </div> -->
            
            시작점
            스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 
        </div>
        <div id="ex2">
            시작점
            스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 스크롤 테스트 
        </div>
    </div>
    
</body>
</html>