<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../main/main.js"></script>
    <script type="text/javascript" src="../main/pagination.js"></script>
    <link rel="stylesheet" href="../main/proj_list.css">
</head>
<body>
    <div id="offers_area">
        <div id="alert_currentPage">

        </div>
        <div id="foo">
        </div>
        <div id="offers">
            <table id="offering_table">
                <tr>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                    
                </tr>
                <tr>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                    
                </tr>
                <tr>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                    <td><div class="offer"></div></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>