* {
    margin : 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    width : 100%;
    height : 100%;
}

/* nav영역 */
#header {
    width: 100%;
    height : 70px;
    background-color: red;
}

/* 내용 */
#container {
    width : 100%;
    height: 100%;
    margin : 0 auto;
    /* border : 1px solid red */
}

/* 내용에서 margin-top 값주고 영역 */
#row_group {
    width : 100%;
    height : 100%;
    margin: 0 auto;
    /* border : 1px solid yellow; */

    /* nav와 거리 띄우기 */
    margin-top : 7%;
}

/* image, information, introduce, button */
#first_row {
    width : 100%;
    height : 40%;
    /* background-color: bisque; */
}

/* 프로젝트's */
#second_row {
    width : 100%;
    height : 60%;
    /* background-color: blue; */
}

/* image, information, introduce, button 한번 더 감쌈 */
#userInfor {
    width : 76%;
    height: 120px;
    margin : 0 auto;
    position: relative;
    /* background-color: aqua; */
}

/* 이미지 */
#image {
    width : 25%;
    height: 100%;
    /* float : left; */
    margin-top : 0px;
    display : inline-block;
    /* border: 1px solid salmon; */
}

/* 이미지들의 display를 inline-block으로 해줌
이유 : button, information, intruduce 같은 라인에 위치 */
#image > img {
    display: inline-block;
    border : 1px solid gray;
    padding : 5px;
    width : 100%;
    height: 100%;
}

/* information, intruduce, button */
#users {
    width : 80%;
    height: 100%;
    /* float : right; */
    margin : 0 auto;
    display : flex;
    border : 1px solid black;
    /* border : 3px solid rebeccapurple; */
}

/* 모든 div의 display를 바꿔야지 한 줄로 나옴 */
#users div {
    display : inline-block;
}

/* information, intruduce */
.users {
    width : 100%;
    /* border : 1px solid gray; */
}

/* button을 감싸고 있는 태그 */
.buttonframe {
    width : 60.8%;
    height : 40px;
    position: relative;
    margin : 0 auto;
    /* border : 1px solid white; */
}

/* 버튼 */
.button {
    width : 100px;
    position : absolute;
    float : right;
    top : 0;
    right : 0;
}

/* 이름, 이메일, 공개여부 */
/* #users div.information div {
    border : 1px solid olive;
    display : inline-flex;
    width : 31%;
    height : 100%;
    text-align : center;
    justify-content: center;
} */

/* introduce */
/* .users.introduce {
    width : 100%;
    height : 100px;
    border : 1px solid gray;
} */

/* .introducescroll {
    width : 100%;
    height : 100%;
    padding-left : 5px;
    border : 1px solid red;
} */






/* project */
/* project 전체 배경 */
/* .project {
    background-color: orange;
} */

/* project content 영역 */
.projectisreally {
    /* background-color: yellow; */
    margin : 0 auto;
}






/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }









/* project부분 관련 코드 */
#carousel {
    background-color: blueviolet;
    width : 76%;
    height: 300px;
    margin : 0 auto;
}

#carousel * {
    width : 100%;
    height : 300px;
}

/* from(#information) => 이름 & 이메일 & 공개 & 자기소개 감싼 거 */
#information {
    width : 90%;
    margin : 5px;
    display : flex;
    flex-direction: column;
    /* border : 1px solid red; */
}

/* 이름 & 이메일 & 공개 왼쪽 정렬 */
#frow {
    margin : 0;
}

/* 이름(userName) width px로 고정 */
#userName {
    width : 100px;
}


/* textarea => 자기소개(#intro) */
#intro {
    display : inline-block;
    width : 100%;
}


/* textarea(자기소개) 높이 채우기(반응형) */
#intro {
    flex-grow: 1;
}







/* project */
#tesx {
    width : 60.8%;
    margin : 0 auto;
    margin-top : 30px;
}

#text * {
    margin : 0 auto;
}
.carousel-inner {
    width : 100%;
    height : 250px;
    border : 1px solid black;
}

.project {
    width : 60%;
    /* 이곳에 마우스를 올렸을 때 pointer모양으로 변환 */
    cursor : pointer;
    /* 글자 가운데 정렬 */
    text-align: center;
    /* ~요소 배치~ */
    display: flex;
    /* 수직정렬 */
    align-items: center;
    flex-direction: column;

    margin-top : 5px;
    margin-bottom: 5px;
    border-radius: 5px;

    padding-top : 20px;

    background-color: rgb(255, 238, 204);
}

.project .pj_h1 {
    flex-basis: 60px;
}

.project .pj_text {
    flex-basis:  160px;
    /* background-color: red; */
    display: inline-block;
    width : 80%;
    height : 100%;
    text-align: center;
    padding-bottom: 5px;

    /* 프로젝트 설명이 길어질경우 범위를 넘어간 부분은 잘려보이게 */
    overflow : hidden;
}







/* 미디어쿼리~~~ */
/* width 가 1100px보다 작아질 경우 그냥 width를 px로 고정*/
@media(max-width : 740px) {
    #wrap {
        width : 740px;
    }
    #container {
        width : 90%;
    }
    .buttonframe {
        width : 80%;
    }
    #userInfor {
        width : 100%;
    }
    #tesx {
        width : 80%;
    }
}















/* 후기 관련 css */


/* 더보기할 요소들 */
/* .js-load {
    display: none;
} */

#contents {
    margin-top : 10px;
    width : 60%;
}

.js-load.active {
    display: block;
}

.btn-wrap, .lists, .main {
    display: block;
}
.main {
    /* max-width: 640px; */
    margin: 0 auto;
}
.lists {
    /* [더보기] 버튼과 표 사이의 간격 */
    margin-bottom: 1.5rem;
    /* background-color: orange; */
}

/* 버튼을 감싸고 있는 div */
.btn-wrap {
    text-align: center;
}

/* table */
#li_table {
    display: block;
    /* background-color: aqua; */
    /* border: 1px dotted red; */
    width : 100%;
    margin : 0 auto;
}

/* table > tr > th */
#li_table tr th:nth-child(2) {
    background-color: rgba(254, 254, 241, 0.937);
    min-width: 50%;
    max-width: 80%;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    /* max-width: 60%; */
}

/* th2번을 제외하고 글자를 가운데정렬 */
#li_table tr th:not(:nth-child(2)) {
    text-align: center;
}

/* test */
/* -> th 2번째에서 글자수가 너무 길면 말줄임표(...)으로 표시
1. 버튼을 1번 클릭하면 표의 길이나 늘어나서 전체 내용이 보임.
2. 버튼을 1번 더 클릭하면 표의 길이가 원래대로 다시 줄어듦. */
#li_table {
    table-layout: fixed;
}

#li_table tr th:nth-child(2) {
    /* 글이 해당 영역을 벗어나면 말줄임표(...)를 표시 */
    text-overflow:ellipsis;
    /* 영역을 넘어가면 안 보이기 */
    overflow:hidden;
    /* 줄 바꿈 금지 */
    /* white-space:nowrap; */
}

#li_table tr th:nth-child(1) {
    width : 100px;
}

#li_table tr th:nth-child(3) {
    width : 50px;
}