<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="changeUserInfor.css">
    <title>change_userInfor</title>
</head>
<body>
    <div id="wrap">
        <div id="header" class="bannerbg">
            <div class="banner"></div>
        </div>
        <form id="join_form" autocomplete='off'>
            <div id="container">
                <div id="content">
                    <!-- 비밀번호, 비밀번호 재확인  -->
                    <div class="row_group">
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="pswd1">비밀번호</label>
                            </h3>
                            <span class="ps_box int_pass" id="psw1Img">
                                <input type="password" id="pswd1" name="pswd1" class="int" title="비밀번호 입력" aria-describedby="pswd1Msg" maxlength="20">
                            </span>
                            <span class="error_next_box" id="Msg"style="display : none" aria-live="assertive" >
                                필수 입력란입니다.
                            </span>
                            <h3 class="join_title">
                                <label for="pswd2">비밀번호 재확인</label>
                            </h3>
                            <span class="ps_box int_pass_check" id="pswd2Img">
                                <input type="password" id="pswd2" name="pswd2" aria-describedby="pswd2Blind" class="int" title="비밀번호 재확인 입력" maxlength="20">
                            </span>
                            <span class="error_next_box" id="pswdMsg"style="display : none" aria-live="assertive">
                                비밀번호가 일치하지 않습니다.
                            </span>
                        </div>
                    </div>
                    <!-- //비밀번호, 비밀번호 재확인 -->
                    
                    <!-- 변경하기 버튼 -->
                    <div class="btn_area">
                        <button type="button" id="btnJoin" class="btn_type btn_primary" onclick="change_pwd()">
                            <span>변경하기</span>
                        </button>
                    </div>
                    <!-- //변경하기 버튼 -->

                </div>
            </div>
        </form>
    </div>
    <script type =  "text/javascript" src = "changeUserInfor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.js"></script>
</body>
</html>