<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/findpwd.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>find-pwd</title>
</head>
<body>
    <script th:inline="javascript">
        let error = [[${error}]];
        let message = [[${message}]];

        $(document).ready(function() {
            if (error == false) {
                let randomKey = [[${randomKey}]];
                let userId = [[${userId}]];
                let userName = [[${userName}]];
                let email = [[${email}]];

                sessionStorage.setItem("randomKey", randomKey);
                sessionStorage.setItem("userId", userId);
                sessionStorage.setItem("userName", userName);
                sessionStorage.setItem("email", email);

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '이메일 함을 확인해주세요!'
                })
                setTimeout(function () {
                    location.href = "/user/find/password/auth/form";
                }, 2000);

            } else if (error == true) {
                Swal.fire({
                    title: message,
                    icon: 'warning',
                    showConfirmButton: false,
                    timer: 1000,
                })
            }
        });
    </script>

<div id="wrap">
    <div id="header" class="logo">
        <h1><a href='#' class='h_logo' role="banner">비밀번호 찾기</a></h1>
    </div>
    <form id="find_form" method="post" action="/user/find/password">
        <div id="container">
            <div id="banner"></div>
            <div id="content">
                <!-- 아이디 이름 이메일  -->
                <div class="row_group">
                    <div class="join_row">
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="userId">아이디</label>
                            </h3>
<!--                            <span class="ps_box int_id" id="psw1Img">-->
                            <span class="ps_box int_id">
                                <input type="text" id="userId" name="userId" class="int" title="아이디 입력" maxlength="30">
                            </span>
                            <span class="error_next_box" id="Msg3"style="display : none" aria-live="assertive">
                                    필수 입력란입니다.
                            </span>
                        </div>
                    </div>
                    <div class ="join_row">
                        <h3 class="join_title">
                            <label for="userName">이름</label>
                        </h3>
                        <span class="ps_box int_id">
                                <input type="text" maxlength="20" class="int" title="ID" id="userName" name="userName">
                        </span>
                        <span class="error_next_box" id="Msg1"style="display : none" aria-live="assertive">
                                필수 입력란입니다.
                        </span>
                    </div>
                    <div class="join_row">
                        <h3 class="join_title">
                            <label for="email">이메일</label>
                        </h3>
                        <span class="ps_box int_id">
                            <input type="text" id="email" name="email" class="int" title="이메일 입력" maxlength="30">
                        </span>
                        <span class="error_next_box" id="Msg2"style="display : none" aria-live="assertive">
                            필수 입력란입니다.
                        </span>
                    </div>
<!--                    <div class="join_row code">-->
<!--                        <h3 class="join_title">-->
<!--                            <label for="code">전송코드</label>-->
<!--                        </h3>-->
<!--&lt;!&ndash;                        <span class="ps_box int_id" id="psw1Img">&ndash;&gt;-->
<!--                        <span class="ps_box int_id" id="psw1Img">-->
<!--                            <input type="text" id="code" name="code" class="int" title="전송코드 입력" maxlength="30">-->
<!--                        </span>-->
<!--                    </div>-->
                </div>
                <!-- //아이디 이름 이메일 -->

                <!-- 비밀번호 변경하기 버튼 -->
                <div class="btn_area">
                    <button type="button" id="btnJoin" class="btn_type btn_primary" onclick="button_click()">
                        <span>비밀번호 변경하기</span>
                    </button>
                </div>
                <!-- //비밀번호 변경하기 버튼 -->

                <!-- 아이디 찾기 링크 -->
                <div class="links">
                    <a href="/user/find/id/form">아이디 찾기</a>
                </div>
                <!-- //아이디 찾기 링크 -->

            </div>
        </div>
    </form>
</div>
<script type =  "text/javascript" th:src = "@{/js/findpwd.js}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.js"></script>
</body>
</html>