<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/join.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>membership</title>
</head>
<body>
    <script th:inline="javascript">
        let error = [[${error}]];
        let exception = [[${exception}]];

        $(document).ready(function() {
            if (error == false) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '회원가입 성공',
                    text : message
                })
                setTimeout(function() {
                    location.href = "/user/login";
                }, 2000);

            } else if (error == 'true') {
                Swal.fire({
                    title: exception,
                    icon: 'warning',
                    showConfirmButton: false,
                    timer: 1000,
                })
            }
        });
    </script>

    <div id="wrap">
        <div id="header" class="logo">
            <h1><a href='#' class='h_logo' role="banner">TOYPLE</a></h1>
        </div>
        <form id="join_form" method="post" autocomplete='off'>
            <div id="container">
                <div id="content">
                    <!-- 아이디 비밀번호, 비밀번호 재확인  -->
                    <div class="row_group">
                        <div class ="join_row">
                            <h3 class="join_title">
                                <label for="userId">아이디</label>
                            </h3>
                            <span class="ps_box int_id">
                                <input type="text" maxlength="20" class="int" title="ID" id="userId" name="userId" onfocus="isnullcheck(this,'0')" onkeypress="isnotnullcheck(0)">
                            </span>
                            <span class="error_next_box" id="Msg1"style="display : none" aria-live="assertive" vlaue="0">
                                필수 입력란입니다.
                            </span>
                            <span class="error_next_box" id="Msg1_2"style="display : none" aria-live="assertive" vlaue="0">
                                이미 사용중인 아이디 입니다.
                            </span>
                        </div>
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="password">비밀번호</label>
                            </h3>
                            <span class="ps_box int_pass" id="psw1Img">
                                <input type="password" id="password" name="password" class="int" title="비밀번호 입력" aria-describedby="pswd1Msg" maxlength="20" onfocus="isnullcheck(this,'1')" onkeypress="isnotnullcheck(1)">
                            </span>
                            <span class="error_next_box" id="Msg2"style="display : none" aria-live="assertive" vlaue="0">
                                필수 입력란입니다.
                            </span>
                            <h3 class="join_title">
                                <label for="pswd2">비밀번호 재확인</label>
                            </h3>
                            <span class="ps_box int_pass_check" id="pswd2Img">
                                <input type="password" id="pswd2" name="pswd2" aria-describedby="pswd2Blind" class="int" title="비밀번호 재확인 입력" maxlength="20" onchange="checking()" onkeypress="input_ing()">
                            </span>
                            <span class="error_next_box" id="pswd2Msg"style="display : none" aria-live="assertive" value="0" vlaue="0">
                                비밀번호가 일치하지 않습니다.
                            </span>
                        </div>
                    </div>
                    <!-- //아이디 비밀번호, 비밀번호 재확인 -->
                    
                    <!-- 이름, 이메일 -->
                    <div class="row_group">
                        <div class="join_row join_email">
                            <h3 class="join_title">
                                <label for="userName">이름</label>
                            </h3>
                            <span class="ps_box  box_right_space">
                                <input type="text" id="userName" name="userName" aria-label="이름" class="int" maxlength="100" onfocus="isnullcheck(this,'2')" onkeypress="isnotnullcheck(2)">
                            </span>
                            <span class="error_next_box" id="Msg3"style="display : none" aria-live="assertive" vlaue="0">
                                필수 입력란입니다.
                            </span>
                            <h3 class="join_title">
                                <label for="email">이메일</label>
                            </h3>
                            <span class="ps_box int_email box_right_space">
                                <input type="text" id="email" name="email" aria-label="이메일" class="int" maxlength="100" onfocus="isnullcheck(this,'3')" onkeypress="isnotnullcheck(3)">
                            </span>
                            <span class="error_next_box" id="Msg4"style="display : none" aria-live="assertive" vlaue="0">
                                필수 입력란입니다.
                            </span>
                            <span class="error_next_box" id="Msg4_2"style="display : none" aria-live="assertive" vlaue="0">
                                이미 가입이력이 있는 이메일입니다.
                            </span>
                        </div>
                        
                    </div>
                    <!-- //이름, 이메일 -->
                    
                    <!-- 가입하기 버튼 -->
                    <div class="btn_area">
                        <button type="button" id="btnJoin" class="btn_type btn_primary" onclick="membership()">
                            <span>가입하기</span>
                        </button>
                    </div>
                    <!-- //가입하기 버튼 -->

                </div>
            </div>
        </form>
    </div>
    <script type =  "text/javascript" src = "/js/join.js"></script>
</body>
</html>