<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/pagination.js}"></script>
    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/filter.css}">
    <title>TOYPLE</title>
    <script th:src="@{/js/filter.js}"></script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<div class="nav">
    <div id="nav_bar">
        <div id="nav_logo" onclick="location.href='/'">
            <h2 id="nav_lg">TOYPLE</h2>
        </div>
        <div id ="nav_right">
            <div id="nav_login" style="cursor:pointer" onclick="location.href='../login/index.html'"><div>LOGIN</div></div>
            <div id="nav_neww" style="cursor:pointer" onclick="location.href='/project/add'">
                <img th:src="@{/img/plus.png}"  id="new_icon" alt="new">
            </div>
            <div id="nav_alarm" style="cursor:pointer" onclick="location.href=''" >
                <img th:src="@{/img/envelope.png}" id="nav_alarm_icon" alt="envelope">
            </div>

            <div id="nav_personal" style="cursor:pointer" onclick="location.href='../login/index.html'">
                <img th:src="@{/img/login.png}" id="personal_icon" alt="member">
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div id="contents">
        <div id="filter_area">
            <div id="work_filter">
                <div id="lang_fornt_end" style="border-bottom: 3px solid tan;" class="filter_work" onclick="workFltr(this)">프론트엔드</div>
                <div id="lang_back_end" class="filter_work" onclick="workFltr(this)">백엔드</div>
                <div id="lang_mobile" class="filter_work" onclick="workFltr(this)">모바일</div>
                <div id="lang_etc" class="filter_work" onclick="workFltr(this)">기타</div>
            </div>
            <div id="lang_filter_area">
                <div id="lang_filter">
                    <label class="langs front_lang f_lang1"><input class="front_lang f_lang1" id="JavaScript" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="JavaScript">JavaScript</label>
                    <label class="langs front_lang f_lang2"><input class="front_lang f_lang2" id="TypeScript" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="TypeScript">TypeScript</label>
                    <label class="langs front_lang f_lang3"><input class="front_lang f_lang3" id="React" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="React">React</label>
                    <label class="langs front_lang f_lang4"><input class="front_lang f_lang4" id="Vue" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="Vue">Vue</label>
                    <label class="langs front_lang f_lang5"><input class="front_lang f_lang5" id="Svelte" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="Svelte">Svelte</label>
                    <label class="langs front_lang f_lang6"><input class="front_lang f_lang6" id="Nextjs" onclick="add_lang(this)" type="checkbox" name="slt_lang" value="Nextjs">Nextjs</label>
                </div>
            </div>
            <form id="selected_lang_area">
                <div id="selected_lang_list"></div>
                <div id="filter_reset_area">
                    <div id="filter_reset" onclick="reset_filter()">필터초기화</div>
                </div>
            </form>
            <div id="search">
                <div class="search_box">
                    <input type="text" class="srch_field" id="srch_kywrd" onkeypress="if(event.keyCode == 13){search(); return false;}" placeholder="Search.." value=""  spellcheck="false">
                    <a href="#" class="srch_icon_a" onclick="search(); return false;"><img th:src="@{img/search_icon_on.png}" alt="찾기" class="srch_icon"></a>
                </div>
            </div>
            <script>
                function search() {
                    if($('#srch_kywrd').val() == "") {
                        alert("검색할 단어를 입력하세요")
                        $('#srch_kywrd').select()
                        return false
                    }
                    location.href = "" + encodeURIComponent( $('#srch_kywrd').val())
                }
            </script>
        </div>
        <div id="currentPageNumber" >1</div>
        <div class="ifrm">
    </div>
        <div class="ifrm">
<!--            <iframe th:include="templates/proj_info.html" name="pages" height="750" width="1000"style="border: none" ></iframe>-->
            <body>

            <div id="offers_area">
                <div id="alert_currentPage">
                </div>

                <div id="project_menu" style="cursor:pointer" onclick="location.href='/project/detail'"></div>
                <div id="offers">
                    <div id="info" style="cursor:pointer" onclick="location.href='/project/detail'"></div>
                    <table class="tb_col">

                        <tr th:each="product : ${projectList}">
                            <td th:text="${product.id}" ></td>
                            <td th:text="${product.projectNm}"></td>
<!--                            <td th:text="${product.content}" th:href="@{/project/view(id=${product.id})}"></td>-->
                            <td><a th:text="${product.content}" th:href="@{/project/view(id=${product.id})}"></a></td>
                            <td th:text="${product.areas}"></td>
                            <td th:text="${product.jobs}"></td>

                        </tr>
                    </table>
                    <table id="offering_table">
                        <tr>
                            <td>
                                <div class="offer" onclick="window.open('../proj_info/proj_info.html')">

                                <div class="offer_header">
                                    <div class="project_status">모집중</div>
                                    <div class="project_limitdate">
                                        <div class="limdate_area">마감일</div>
                                        <div class="limdate_area" id="limdate">2023.05.01</div>
                                    </div>
                                </div>
                                <div class="project_title">프로젝트 제목</div>

                                <div class="project_langs">
                                    <div class="langs" id="JavaScript" value="JavaScript">JavaScript</div>
                                    <div class="langs" id="TypeScript" value="TypeScript">TypeScript</div>
                                    <div class="langs" id="React">React</div>
                                    <div class="langs" id="Java">Java</div>
                                    <div class="langs" id="Go">Go</div>
                                    <div class="langs" id="Unity">Unity</div>
                                </div>
                                </div>

                            </td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>

                        </tr>
                        <tr>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>

                        </tr>
                        <tr>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                            <td><div class="offer">
                                <div class="project_title"></div>
                                <div class="project_limitdate"></div>
                                <div class="project_loc"></div>
                                <div class="project_langs"></div>
                            </div></td>
                        </tr>
                    </table>
                </div>
            </div>
            </body>
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                    <li class="page-item">
                        <a class="page-link" onclick="movePageGroup(this)" id="previous" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link currentPage" style="background-color: #eee" id="page_1" onclick="movePage(this)" th:href="@{/template/proj_list.html}" target="pages">1</a></li>
                    <li class="page-item"><a class="page-link" id="page_2" onclick="movePage(this)" href="./proj_list.html" target="pages">2</a></li>
                    <li class="page-item"><a class="page-link" id="page_3" onclick="movePage(this)" href="./proj_list.html" target="pages">3</a></li>
                    <li class="page-item"><a class="page-link" id="page_4" onclick="movePage(this)" href="./proj_list.html" target="pages">4</a></li>
                    <li class="page-item"><a class="page-link" id="page_5" onclick="movePage(this)" href="./proj_list.html" target="pages">5</a></li>
                    <li class="page-item">
                        <a class="page-link" onclick="movePageGroup(this)" id="next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="ex2">
    </div>
</div>

</body>

</html>