<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/mypage.css}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <!-- test-css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css">
    </head>
    <body onload="change(1)">
        <script th:inline="javascript">

            $(document).ready(function() {
                let uId = [[${userDto.userId}]]
                let uEmail = [[${userDto.email}]]
                let uIntro = [[${userDto.intro}]]

                document.getElementById('userName').value = uId;
                document.getElementById('userEmail').value = uEmail;

                if (uIntro == null)
                    document.getElementById('intro').value = "자기소개가 없습니다.";
                else
                    document.getElementById('intro').value = uIntro;
            });

        </script>
        <div id="wrap">
          <div id="header"></div>
          <div id="container">
            <div id="row_group">
              <div id="first_row">
                <!-- 정보 수정 버튼 -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end buttonframe">
                  <button class="btn btn-primary me-md-2 button" type="button" id="change" onclick="ch_click()">정보수정</button>
                </div>
                <div id="userInfor">
                    <div id="users">
                      <!-- 사용자 이미지 -->
                      <div id="image">
                          <img th:src="@{/img/kf.png}" class="rounded mx-auto d-block" alt="...">
                      </div>
                          <!-- 위의 내용을 input으로 구현 후 disabled을 이용해서 비활성화 시키기 -->
                      <form id="information">
                          <!-- 이름 & 이메일 & 공개여부(checkbox) -->
                          <div id="frow">
                            <!-- 이름 -->
                            <input type="usertext" id="userName" class="input" value="" disabled>
                            <!-- 이메일 -->
                            <input type="userEmail" id="userEmail" class="input" value="" disabled>
                            <!-- 공개여부(checkbox) -->
                            <label for="public">공개</label>
                            <input type="checkbox" id="public" class="public" disabled>
                          </div>
                              <!-- 자기소개 -->
                          <textarea id="intro" disabled>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, perferendis!
                          </textarea>
                      </form>
                    </div>
                </div>
              </div>
            </div>


            <!-- project -->
            <div id="tesx">
              <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false">
                <div class="carousel-inner">
                  <div class="carousel-item active" value="1">
                    <div class="project" id="pj1" onclick="project(id)">
                      <div class="pj_h1" id="pj1_h1">
                        <h1 id="project1_title" value="123">프로젝트 제목1</h1>
                      </div>
                      <div class="pj_text" id="pj1_text">
                        <div id="project1_text" value="234">프로젝트 설명1~~Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ullam recusandae quas ratione repudiandae error alias reprehenderit saepe, totam ipsam. Neque odio fugiat quaerat aperiam, provident sint rerum ipsa officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse officia rerum corrupti nemo veniam ut consequatur numquam nobis laudantium velit nostrum ducimus, voluptates, quod quos. Corporis quasi reiciendis ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum adipisci numquam consequuntur, quasi veritatis quibusdam dignissimos ipsa sapiente magnam explicabo odit nulla necessitatibus quidem ab accusantium quis dolorem eius voluptates.</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" value="2">
                    <div class="project" id="pj2" onclick="project(id)">
                      <div class="pj_h1" id="pj2_h1">
                        <h1 id="project1_title" value="">프로젝트 제목2</h1>
                      </div>
                      <div class="pj_text" id="pj2_text">
                        <div id="project1_text" value="">프로젝트 설명2~~Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ullam recusandae quas ratione repudiandae error alias reprehenderit saepe, totam ipsam. Neque odio fugiat quaerat aperiam, provident sint rerum ipsa officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse officia rerum corrupti nemo veniam ut consequatur numquam nobis laudantium velit nostrum ducimus, voluptates, quod quos. Corporis quasi reiciendis ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum adipisci numquam consequuntur, quasi veritatis quibusdam dignissimos ipsa sapiente magnam explicabo odit nulla necessitatibus quidem ab accusantium quis dolorem eius voluptates.</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" value="3">
                    <div class="project" id="pj3" onclick="project(id)">
                      <div class="pj_h1" id="pj3_h1">
                        <h1 id="project1_title" value="">프로젝트 제목3</h1>
                      </div>
                      <div class="pj_text" id="pj3_text">
                        <div id="project1_text" value="">프로젝트 설명3~~Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ullam recusandae quas ratione repudiandae error alias reprehenderit saepe, totam ipsam. Neque odio fugiat quaerat aperiam, provident sint rerum ipsa officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi esse officia rerum corrupti nemo veniam ut consequatur numquam nobis laudantium velit nostrum ducimus, voluptates, quod quos. Corporis quasi reiciendis ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum adipisci numquam consequuntur, quasi veritatis quibusdam dignissimos ipsa sapiente magnam explicabo odit nulla necessitatibus quidem ab accusantium quis dolorem eius voluptates.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" id="pre" onclick="change(id)">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" id="nex" onclick="change(id)">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <!-- 후기 -->
            <!-- <div id="test_thisIsSlides" value="3" onclick="change()">이건 슬라이드 테스트입니다. 이게 변하면 아래 내용도 변해요</div> -->

            <div id="contents">
              <div id="js-load" class="main">
                <div class="lists">
                  <table id="li_table">
                    <!-- 테이블 요소가 추가될 예정 -->
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
    </body>


    <script type =  "text/javascript" th:src="@{/js/myPage.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <!-- test-script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
</html>