<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/new.css}">
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <script type="text/javascript" th:src="@{/js/new.js}"></script>
    <title>TOYPLE_new</title>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="nav">
        <div id="nav_logo" onclick="location.href = '/'">
            <h2 id="nav_lg">TOYPLE</h2>
        </div>
        <div id ="nav_right">
            <div id="nav_neww" style="cursor:pointer" onclick="location.href ='/project/add'">
                <img th:src="@{/img/plus.png}" id="new_icon" alt="new">
            </div>
            <div id="nav_alarm" style="cursor:pointer" onclick="location.href=''" >
                <img th:src="@{/img/envelope.png}" id="nav_alarm_icon" alt="envelope">
            </div>

            <div id="nav_personal" style="cursor:pointer" onclick="location.href='../login/index.html'">
                <img th:src="@{/img/login.png}" id="personal_icon" alt="member">
            </div>
        </div>
    </div>

    <div class="back">
        <img th:src="@{/img/back.png}" id="go_back_icon" onclick="history.back()">
    </div>

    <div class="new_page">
        <form autocomplete="off" action="/project/save" method="post">
            <ul>
                <li class="topic"><p>지역</p></li>
                <li>
                    <div id="choose_place">
                        <!-- 지역 누르면 place_selected 클래스 추가됨 => 재클릭하면 place_selected 클래스 삭제 -->
                        <!-- 지역 누르면 label에 place_selected 클래스 추가됨 => 재클릭하면 place_selected 클래스 삭제 -->
                        <label class="places p1" ><input onclick="add_place(this)" type="checkbox" class="p1" name="서울" id="seoul">서울</label>
                        <label class="places p2" ><input onclick="add_place(this)" type="checkbox" class="p2" name="경기/인천" id="gyeonggi/Inchon">경기/인천</label>
                        <label class="places p3" ><input onclick="add_place(this)" type="checkbox" class="p3" name="강원" id="gangwon">강원</label>
                        <label class="places p4" ><input onclick="add_place(this)" type="checkbox" class="p4" name="충천/대전" id="chungcheong/Daejeon">충천/대전</label>
                        <label class="places p5" ><input onclick="add_place(this)" type="checkbox" class="p5" name="전라/광주" id="jeolla/Gwangju">전라/광주</label>
                        <label class="places p6" ><input onclick="add_place(this)" type="checkbox" class="p6" name="경북/대구" id="gyeongbuk/Daegu">경북/대구</label>
                        <label class="places p7" ><input onclick="add_place(this)" type="checkbox" class="p7" name="경남/부산/울산" id="gyeongnam/Busan/Ulsan">경남/부산/울산</label>
                        <label class="places p8" ><input onclick="add_place(this)" type="checkbox" class="p8" name="제주" id="jeju">제주</label>

                    </div>
                </li>
                <li>
                    <div class="new_select">
                        <div id="selected_places">
                            <!-- 각 지역 누르면 place_list 클래스를 가진 div 생성 -->
                        </div>
                    </div>
                    <div class="select_reset_area">
                        <div class="select_reset" id="reset_place" onclick="reset(this)">선택초기화</div>
                    </div>
                </li>
                <li class="topic"><div>직무</div></li>
                <li>
                    <div id="choose_works">
                        <label class="works work w1"><input class="work w1" id="fornt_end" onclick="add_work(this)" type="checkbox" name="프론트엔드">프론트엔드</label>
                        <label class="works work w2"><input class="work w2" id="back_end"  onclick="add_work(this)" type="checkbox" name="백엔드">백엔드</label>
                        <label class="works work w3"><input class="work w3" id="work_mobile" onclick="add_work(this)" type="checkbox" name="모바일">모바일</label>
                        <label class="works work w4"><input class="work w4" id="work_etc" onclick="add_work(this)" type="checkbox" name="기타">기타</label>
                    </div>
                </li>
                <li>
                    <div class="new_select">
                        <div id="selected_works">
                            <!-- 각 직무 누르면 work_list 클래스를 가진 div 생성 -->
                        </div>
                    </div>
                    <div class="select_reset_area">
                        <div class="select_reset" id="reset_work" onclick="reset(this)">선택초기화</div>
                    </div>
                </li>
                <li class="topic"><div>언어</div></li>
                <li>
                    <div id="choose_langs">
                        <div id="langs_front"></div>
                        <div id="langs_back"></div>
                        <div id="langs_mob"></div>
                        <div id="langs_etc"></div>
                        <!-- <div class="langs" onclick="add_lang(this)">JavaScript</div>
                        <div class="langs" onclick="add_lang(this)">TypeScript</div>
                        <div class="langs" onclick="add_lang(this)">React</div>
                        <div class="langs" onclick="add_lang(this)">Vue</div>
                        <div class="langs" onclick="add_lang(this)">Svelte</div>
                        <div class="langs" onclick="add_lang(this)">Nextjs</div> -->
                    </div>
                </li>
                <li>
                    <div class="new_select">
                        <div id="selected_langs">
                            <!-- 각 언어 누르면 lang_list 클래스를 가진 div 생성 -->
                        </div>
                    </div>
                    <div class="select_reset_area">
                        <div class="select_reset" id="reset_lang" onclick="reset(this)">선택초기화</div>
                    </div>
                </li>
                <li class="topic"><div>프로젝트 제목</div></li>
                <li><input type="text" name = "project_nm" id="proj_name" class = "focused" placeholder="입력하세요." spellcheck="false" required></li>
                <li id="new_alert"><div id="response_area">필수 입력 사항입니다.</div></li>

                <li class="topic"><div>프로젝트 설명</div></li>
                <li><textarea type="text" name = "content" id="proj_explain" placeholder="입력하세요." rows="20" spellcheck="false"></textarea></li>
                <li>
<!--                    <div id="new_button" onclick="newproject()" onmouseover="buttonover(this)" onmouseout="buttonout(this)">등록하기</div>-->
                    <input type="submit" id="new_button" value="등록하기" onclick="newproject()"  onmouseover="buttonover(this)" onmouseout="buttonout(this)">                </li>
            </ul>
        </form>
    </div>
</body>
</html>