<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet"  th:href="@{/css/banner.css}" >
    <link rel="stylesheet"  th:href="@{/css/proj_info.css}">

    <title>TOYPLE</title>

</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<div class="nav">
    <div id="nav_bar">
        <div id="nav_logo" onclick="location.href='../templates/main.html'">
            <h2 id="nav_lg">TOYPLE</h2>
        </div>
        <div id ="nav_right">
            <div id="nav_login_area" style="cursor:pointer">
                <div id="nav_login" onclick="location.href='../templates/index.html'">로그인</div>
                <div id="nav_new_user" onclick="location.href='../templates/index.html'">회원가입</div>
            </div>
            <div id="nav_neww" style="cursor:pointer" onclick="location.href='../templates/new.html'">
                <img src="../img/plus.png" id="new_icon" alt="new">
            </div>
            <div id="nav_alarm" style="cursor:pointer" onclick="location.href=''" >
                <img src="../img/envelope.png" id="nav_alarm_icon" alt="envelope">
            </div>

            <div id="nav_personal" style="cursor:pointer" onclick="location.href='../templates/index.html'">
                <img src="../img/login.png" id="personal_icon" alt="member">
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div id="top_area"></div>
    <div class="proj_info_area">
        <div class="proj_informents">
            <div id="proj_info">
                <div id="proj_info_name">
                    <h2 th:text="${projectDetail.projectNm}" >백엔드 개발 구해요</h2>
                    <div id="proj_regi">
                        <p id="proj_date">
                            2023.03.02
                        </p>
                    </div>
                </div>
                <div id="proj_details">
                    <div class="proj_info_topic" id="proj_perioud"><div id="perioud_topic">모집 기간</div></div>
                    <div id="perioud">
                        2023.03.05 ~ 2023.05.01
                    </div>
                    <div class="proj_info_topic" id="proj_info_place"><div id="area">모집 지역</div></div>
                    <div id="detail_place_area">
                        <div class="proj_detail_place" id="seoul">서울</div>
                        <div class="proj_detail_place" id="gyeonggi/Inchon">경기/인천</div>
                    </div>
                    <div class="proj_info_topic" id="proj_info_lang"><div id="proj_lang">모집 언어</div></div>
                    <div class="detail_langs_area">
                        <div class="langs" id="JavaScript" value="JavaScript">JavaScript</div>
                        <div class="langs" id="TypeScript" value="TypeScript">TypeScript</div>
                    </div>
                    <div class="proj_info_topic"><div id="proj_details_explain" >상세 설명</div></div>
                    <div class="detail_explain_area">
                        <div class="detail_explain" th:text="${projectDetail.content}">
                        </div>
                    </div>
                </div>
                <div id="proj_teammates_area">
                    <div id="proj_teammates"></div>

                </div>
            </div>
            <div class="comment_area">
                <div class="comment_area_div">
                    <div class="comment_field_area">
                        <div id="comment_field_divide_area">
                            <div id="comment_field_div"><textarea type="text" id="commentValue" name = "commentValue" placeholder="댓글 입력하기" value=""  spellcheck="false"></textarea></div>
                            <div class="commend_append">
                                등록
                            </div>
                        </div>
                    </div>

                    <div class="comments">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>

</body>
</html>
